<div class="container">
  <h1 class="mb-4">All your lists</h1>
  <div class="container">
    <div class="row mx-1">
      <% current_user.lists.each do |list| %>
        <%= link_to list_path(list), class: "text-decoration-none" do %>
          <div class="col-16 d-flex mb-3 align-items-center">
            <img src="<%= list.books.sample&.cover_url.presence || 'default_cover_url.jpg' %>"
                 style="width: 50px; height: 70px; object-fit: cover; margin-right: 12px;"
                 alt="<%= list.name %>">
            <div>
              <h5 style="font-size: 16px; margin-bottom: 4px; color: #751F1F;" class="fw-medium playfair-display">
                <%= list.name %>
              </h5>
              <p class="text-muted" style="font-size: 14px; margin-bottom: 0;">
                <%= list.books.count %> books
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
