<div class="container mt-3">
  <div class="d-flex align-items-center justify-content-center mb-4 position-relative">
    <%= link_to :back, class: "btn rounded-pill bg-white position-absolute", style: "color: #751F1F; left: 0;" do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
    <h3 class="text-center mb-0 w-100" style="color: #0C0C0C;"><%= @list.name %></h3>
    <%= link_to new_list_bookmark_path(@list), class: "btn rounded-pill", style: "color: #751F1F;" do %>
      <i class="fa-solid fa-plus text-12"></i>
    <% end %>
  </div>
</div>
<div class="container" style="margin-bottom: 96px;">
  <!--<%= link_to "Add a book", new_list_bookmark_path(@list), class: "btn btn-outline-dark rounded-pill px-4", style: "color: #751F1F; border-color: #751F1F;", data: { bs_toggle: "modal", bs_target: "#new_book_modal" } %>-->
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <% book = bookmark.book %>
      <div class="col-auto">
        <%= link_to book_path(book), class: "text-decoration-none" do %>
          <div class="col-16 d-flex mb-3 align-items-center">
            <%= cl_image_tag book.cover.key, class: "rounded-3 me-3", style:"height: 80px; aspect-ratio: 2 / 3; object-fit: cover; margin-bottom: 1rem; box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);", alt: book.title if book.cover.attached? %>
            <div>
              <h5 style="margin-bottom: 4px; color: #751F1F;" class="fw-medium">
                <%= book.title %>
              </h5>
              <p class="" style="margin-bottom: 0;">
                <%= book.author %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%= render "bookmarks/modal", list: @list, bookmark: Bookmark.new %>
