<div class="container mt-3">
  <div class="d-flex align-items-center mb-4 position-relative">
    <%= link_to :back, class: "btn rounded-pill bg-white position-absolute", style: "color: #751F1F; left: 0;" do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
    <h3 class="text-center mb-0 w-100" style="color: #0C0C0C;">Comments</h3>
  </div>
</div>
<div class="container mt-4"style="padding-bottom: 80px;">
  <!-- Review Content -->
  <div class=" p-4 shadow-sm" style="background-color: rgba(255, 255, 255, 0.9); border-radius: 8px;">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center gap-3 mb-3">
        <%= link_to user_path(@review.user), class: "d-flex align-items-center text-decoration-none" do %>
          <img src="<%= @review.user.avatar %>"
             alt="<%= @review.user.username || @review.user.email %>"
             class="rounded-circle"
             style="width: 40px; height: 40px; object-fit: cover; margin-right: 12px;">
          <div>
            <h5 class="mb-0 fw-bold" style="color: #751F1F;">
              <%= @review.user&.username.present? ? @review.user.username : @review.user&.email %>
            </h5>
            <p class="text-muted mb-0" style="font-size: 12px; font-family: Poppins;">
              <%= @review.created_at.strftime("%d/%m/%Y") %>
            </p>
          </div>
        <% end %>

      </div>
    </div>
    <p class="pb-3 mb-3"" style="border-bottom: 1px solid #D5D5D5; font-family: Poppins;"><%= @review.content %></p>
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center gap-3">
        <div class="d-flex align-items-center gap-3">
          <% if user_signed_in? %>
            <%= render partial: "likes/like_button", locals:  { review: @review } %>
          <% end %>
          <%= link_to review_comments_path(@review), class: "d-flex align-items-center gap-1", style: "background-color: transparent;  border: none; text-decoration: none;" do %>
            <i class="fa-regular fa-comment" style="color: #751F1F;"></i>
            <p class="mb-0" style="font-family: Poppins;"><%= @review.comments.count %></p>
          <% end %>
        </div>
      </div>
      <div class="d-flex align-items-center gap-2">
        <i class="fa-solid fa-star" style="color: #751F1F;"></i>
        <p class="mb-0" style="font-family: Poppins;"><%= @review.rating %></p>
      </div>
    </div>
    <!-- Comments Section -->
    <% @comments.each do |comment| %>
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center mt-3 gap-3 mb-3">
          <%= link_to user_path(comment.user), class: "d-flex align-items-center text-decoration-none" do %>
            <img src="<%= comment.user.avatar %>"
             alt="<%= comment.user.username || comment.user.email %>"
             class="rounded-circle"
             style="width: 40px; height: 40px; object-fit: cover; margin-right: 12px;">
            <div>
              <div class="d-flex gap-2 align-items-center">
                <h5 class="mb-0 fw-bold" style="color: #751F1F;">
                  <%= comment.user.username || comment.user.email %>
                </h5>
                <p class="text-muted mb-0" style="font-size: 12px; font-family: Poppins;">
                  <%= comment.created_at.strftime("%d/%m/%Y") %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <p class="pb-2" style="border-bottom: 1px solid #D5D5D5; font-family: Poppins;"><%= comment.content %></p>
    <% end %>
  </div>
  <!-- Add Comment Form -->
  <div class="position-fixed w-100 start-50 translate-middle-x px-3" style="bottom: 0px; z-index: 999; background-color: #FAF5EF; padding: 16px 0;">
    <%= form_with model: [@review, @comment], local: true, class: "w-100 d-flex justify-content-center" do |f| %>
      <div class="d-flex align-items-center bg-white shadow-sm px-3 py-2" style="border-radius: 50px; width: 100%; max-width: 720px; border: 1px solid #FFEAD8;">
        <%= f.text_field :content, placeholder: "Comment", class: "form-control border-0 bg-transparent", style: "font-size: 16px; color: #070740;" %>
        <div class="position-relative d-flex align-items-center justify-content-center">
          <%= f.submit "", class: "btn d-flex align-items-center justify-content-center", style: "width: 36px; height: 36px; border-radius: 50%; background-color: #751F1F;"%>
          <i class="fa-solid fa-arrow-up position-absolute text-white"></i>
        </div>
      </div>
    <% end %>
  </div>
</div>
