<div class="container mt-3">
  <div class="d-flex align-items-center mb-4 position-relative">
    <%= link_to :back, class: "btn rounded-pill bg-white position-absolute", style: "color: #751F1F; left: 0;" do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
    <h3 class="text-center mb-0 w-100" style="color: #0C0C0C;">Profil</h3>
  </div>
</div>
<!-- Profil -->
<div class="bg-white py-3 px-4 opacity-80 shadow-sm">
  <div class="d-flex">
    <div>
      <% if @user.avatar.present? %>
        <%= image_tag @user.avatar, class: "rounded-circle me-3", style: "width: 64px; height: 64px; object-fit: cover;" %>
      <% else %>
        <div class="rounded-circle me-3 d-flex align-items-center justify-content-center" style="width: 64px; height: 64px; background-color: #F5EADB;">
          <i class="fas fa-user" style="font-size: 24px; color: #751F1F;"></i>
        </div>
      <% end %>
    </div>
    <div>
      <p class="mb-0" style="font-size: 12px;">Welcome</p>
      <h2 class="mb-0" style="color: #751F1F;"><%= @user.username %></h2>
      <div class="mt-1 d-flex gap-3">
        <%= link_to followers_user_path(@user), class: "text-decoration-none me-3" do %>
          <div>
            <p class="mb-0 fw-bold"><%= 510 * @followers_count %></p>
            <p class="mb-0" style="font-size: 12px;">Followers</>
          </div>
        <% end %>
        <%= link_to following_user_path(@user), class: "text-decoration-none" do %>
          <div>
            <p class="mb-0 fw-bold"><%= @following_count %></p>
            <p class="mb-0" style="font-size: 12px;">Following</span>
          </div>
        <% end %>
      </div>
    </div>
    <!-- <% if current_user != @user %>
      <div class="follow-button mt-4">
        <% if current_user.following?(@user) %>
          <%= button_to follow_path(current_user.follows.find_by(following: @user)),
                        method: :delete,
                        class: "btn rounded-pill py-0 px-2 follow-button",
                        style: "color: #751F1F; border-color: #751F1F; font-size: 0.75rem;",
                        form: { data: { turbo: true } } do %>
            Unfollow
          <% end %>
        <% else %>
          <%= button_to follows_path(following_id: @user.id),
                        method: :post,
                        class: "btn rounded-pill py-0 px-2 follow-button",
                        style: "color: #751F1F; border-color: #751F1F; font-size: 0.75rem;",
                        form: { data: { turbo: true } } do %>
            Follow
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div> -->
    <!-- Profil -->
  </div>
</div>

<div class="bg-white py-3 px-4 opacity-80 shadow-sm">
  <h2>Time past reading</h2>
  <div>
    <p class="mb-0 fw-bold"><%= 510 * @followers_count %></p>
    <p class="mb-0" style="font-size: 12px;">Followers</>
  </div>
</div>
