<div class="container"  style="padding-bottom: 20px">
  <!-- Barre de recherche -->
  <div class="px-3 mb-5 mt-4">
    <div class="d-flex w-100 gap-2">
      <!-- Search form - 90% -->
      <div class="flex-grow-1">
        <%= form_with url: books_path, method: :get, local: true, class: "d-flex align-items-center bg-white rounded-pill px-3 shadow-sm py-1" do |f| %>
          <i class="fas fa-search me-2" style="font-size: 14px; color: #751F1F; "></i>
          <%= f.text_field :query, placeholder: "Find your book here...", class: "form-control border-0 bg-white rounded-pill ", style: "font-size: 14px; color: #751F1F;", autofocus: false %>
        <% end %>
      </div>
      <!-- Icon link - 10% -->
      <div class="d-flex align-items-center justify-content-center" style="width: 42px;">
        <%= link_to quick_chat_path, data: {turbo_method: :post}, class: "text-decoration-none" do %>
          <i class="fa-solid fa-wand-magic-sparkles" style="font-size: 18px; color: #751F1F;"></i>
        <% end %>
      </div>
    </div>
  </div>
  <!-- TEST -->
  <div id="carouselExampleDark" class="carousel slide mb-4" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @books.each_slice(3).with_index do |group, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <div class="d-flex justify-content-center position-relative" style="height: 260px; mb-0">
            <% group.each_with_index do |book, i| %>
              <% offset = (i - 1) * 60 %>
              <% z = i == 1 ? 3 : 1 %>
              <% scale = i == 1 ? 1 : 0.9 %>
              <img
              src="<%= book.cover_url %>"
              alt="<%= book.title %>"
              class="position-absolute rounded"
              style="
                height: 240px; aspect-ratio: 2 / 3;
                object-fit: cover; margin-bottom: 1rem;
                box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
                transform: scale(<%= scale %>);
                left: calc(50% + <%= offset %>px - 85px);
                z-index: <%= z %>;
              ">
              <% end %>
            </div>
            <div class="text-center">
              <h3><%= truncate(group[1].title , length: 18) %></h3>
              <p class="" style="font-size: 13px;"><%= group[1].author %></p>
            </div>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
    <!-- Reco -->
    <div class="ms-3">
      <div class=""style="margin-bottom: 48px;">
        <div class="d-flex align-items-center gap-4">
          <div class="d-flex align-items-center mb-3 gap-2" >
            <i class="fa-solid fa-book-open" style="color: #751F1F"></i>
            <h3 class="mb-1 fw-bold" style="color: #070740">Recommandations</h3>
          </div>
        </div>
        <div class="hide-scrollbar row flex-nowrap overflow-auto" style="">
          <% @booksreco.each do |book| %>
            <div class="col-auto">
              <%= link_to book_path(book), class: "text-decoration-none" do %>
                <%= cl_image_tag book.cover.key, class: "rounded-3", style:"height: 140px; aspect-ratio: 2 / 3;
                object-fit: cover; margin-bottom: 1rem;
                box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);", alt: book.title if book.cover.attached? %>
                <h6 style="margin-bottom: 2px; white-space: nowrap; max-width: 120px; overflow: hidden; text-overflow: ellipsis;">
                  <%= truncate(book.title, length: 18) %>
                </h6>
                <p class="" style="font-size: 12px; margin-bottom: 0;"><%= truncate(book.author, length: 18) %></p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <!-- TEST -->
      <div  style="margin-bottom: 48px; ">
        <div class="d-flex align-items-center mb-3 gap-2" >
          <i class="fa-solid fa-book-open" style="color: #751F1F"></i>
          <h3 class="mb-1 fw-bold" style="color: #070740">Some selection</h3>
        </div>
        <div class="px-2 hide-scrollbar d-flex row pb-1 flex-nowrap overflow-auto gap-3 mb-3">
          <div class="bg-white rounded-4 opacity-80 shadow-sm gap-3 px-3 py-2" style="width: 250px;">
            <h5 class="">Reader favorites</h5>
            <p class="mb-0">The most read books of 2025</p>
          </div>
          <div class="bg-white rounded-4 opacity-80 shadow-sm gap-3 px-3 py-2" style="width: 250px;">
            <h5 class="">Books of the summer</h5>
            <p class="mb-0">The most read books of 2025</p>
          </div>
        </div>
        <div class="px-2 hide-scrollbar d-flex row pb-1 flex-nowrap overflow-auto gap-3 mb-3">
          <div class="bg-white rounded-4 opacity-80 shadow-sm gap-3 px-3 py-2" style="width: 250px;">
            <h5 class="">Vacation reads</h5>
            <p class="mb-0">The most read books of 2025</p>
          </div>
          <div class="bg-white rounded-4 opacity-80 shadow-sm gap-3 px-3 py-2" style="width: 250px;">
            <h5 class="">Staff</h5>
            <p class="mb-0">The most read books of 2025</p>
          </div>
        </div>
      </div>
      <!-- Last -->
      <div class="" style="padding-bottom: 70px">
        <div class="d-flex align-items-center mb-3 gap-2" >
          <i class="fa-solid fa-book-open" style="color: #751F1F"></i>
          <h3 class="mb-1 fw-bold" style="color: #070740">Last book</h3>
        </div>
        <div class="hide-scrollbar row flex-nowrap overflow-auto" style="">
          <% @last.each do |book| %>
            <div class="col-auto">
              <%= link_to book_path(book), class: "text-decoration-none" do %>
                <%= cl_image_tag book.cover.key, class: "rounded-3", style:"height: 140px; aspect-ratio: 2 / 3;
                object-fit: cover; margin-bottom: 1rem;
                box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);", alt: book.title if book.cover.attached? %>
                <h6 style="margin-bottom: 2px; white-space: nowrap; max-width: 120px; overflow: hidden; text-overflow: ellipsis;">
                  <%= truncate(book.title, length: 18) %>
                </h6>
                <p class="" style="font-size: 11px; margin-bottom: 0;"><%= truncate(book.author, length: 18) %></p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
