
<div class="container">
  <div class="row justify-content-center mb-1">
    <div class="col-md-8 pt-4 pb-3">
      <%= form_with url: search_path, method: :get, local: true, class: "d-flex align-items-center bg-light rounded-pill px-3 shadow-sm py-1" do |f| %>
        <i class="fas fa-search me-2" style="font-size: 14px; color: #751F1F; "></i>
        <%= f.text_field :query, placeholder: "Find your book here...", class: "form-control border-0 bg-light rounded-pill", style: "font-size: 14px; color: #751F1F;", autofocus: false %>
      <% end %>
    </div>
  </div>
  </div>


  <div class="container">
    <div class="row mx-1">
      <% @books.each do |book| %>
        <%= link_to book_path(book), class: "text-decoration-none" do %>
        <div class="col-16 d-flex mb-3 align-items-center">
          <img src="<%=  book.cover_url %>" style="width: 50px; height: 70px; object-fit: cover; margin-right: 12px;" alt="<%= book.title %>">
          <div>
            <h5 style="font-size: 16px; margin-bottom: 4px; color: #751F1F;" class="fw-medium playfair-display"><%= book.title %></h5>
            <p class="text-muted" style="font-size: 14px; margin-bottom: 0;"><%= book.author %></p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<ul>
  <% @books.each do |book| %>
    <li>
      <strong><%= link_to book.title, book_path(book) %></strong> by <%= book.author %>
    </li>
  <% end %>
</ul>
