<div class="container">
  <div class="row justify-content-center mb-1 mx-2">
    <div class="col-md-8 pt-4 pb-3">
      <%= form_with url: books_path, method: :get, local: true, class: "d-flex align-items-center bg-white rounded-pill px-3 shadow-sm py-1" do |f| %>
        <i class="fas fa-search me-2" style="font-size: 14px; color: #751F1F; "></i>
        <%= f.text_field :query, placeholder: "Find your book here...", class: "form-control border-0 bg-white rounded-pill", style: "font-size: 14px; color: #751F1F;", autofocus: false %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mx-1">
    <% @books.each do |book| %>
      <%= link_to book_path(book), class: "text-decoration-none" do %>
        <div class="col-16 d-flex  align-items-center">
          <%= cl_image_tag book.cover.key, class: "rounded-2 me-3", style:" height: 80px; aspect-ratio: 2 / 3; object-fit: cover; margin-bottom: 1rem; box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);", alt: book.title if book.cover.attached? %>
          <div>
            <h4 style="font-size: 16px; margin-bottom: 4px; color: #751F1F;" class="fw-medium playfair-display"><%= book.title %></h4>
            <p class="" style="font-size: 14px; margin-bottom: 0;"><%= book.author %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
