<img src="<%= @book.cover_url %>" alt="">
<h1><%= @book.title %></h1>
<p><strong>Author:</strong> <%= @book.author %></p>
<p><strong>Description:</strong> <%= @book.description %></p>
<p><strong>publishing_year:</strong> <%= @book.publishing_year %></p>
<p><strong>Open_library_id:</strong> <%= @book.open_library_id %></p>
<p><strong>Description:</strong> <%= @book.subjects %></p>
<p><strong>Description:</strong> <%= @book.characters %></p>


<h2>Reviews</h2>

<ul>
<% if @current_user_review %>
   <li>
    <p><strong>Rating:</strong> <%= @current_user_review.rating %>/5</p>
    <p><strong>Content:</strong> <%= @current_user_review.content %></p>
    <p><strong>Emotion:</strong> <%= @current_user_review.emotion %></p>
    <p><strong>Favorite Characters:</strong> <%= @current_user_review.favorite_characters %></p>
  </li>
<% end %>
  <% @reviews.each do |review| %>
    <li>
      <p><strong>Rating:</strong> <%= review.rating %>/5</p>
      <p><strong>Content:</strong> <%= review.content %></p>
      <p><strong>Emotion:</strong> <%= review.emotion %></p>
      <p><strong>Favorite Characters:</strong> <%= review.favorite_characters %></p>
    </li>
  <% end %>
</ul>
