<div class="container">
<h6 class="text-center" style="color:rgb(0, 0, 0);">Create a bookclub for</h6>
<h3 class="text-center mb-4" style="color: #751F1F;"><%= @book.title %></h3>
<%= form_with model: [@book, @bookclub], local: true do |form| %>
  <div class="mb-3">
    <%= form.label :name, "Nom du Bookclub" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, "Description" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <%= form.submit "Créer", class: "btn btn-primary" %>
<% end %>
</div>
