<div style="height: 160px; background-image: url('https://plus.unsplash.com/premium_photo-1703701579660-8481915a7991?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9va2NsdWJ8ZW58MHx8MHx8fDA%3D'); background-size: cover; background-position: center;">
</div>
<div class="container d-flex gap-3 px-4" style="margin-top: -20px; border-top-left-radius: 20px; border-top-right-radius: 20px; background-color: #FAF5EF;">
  <!-- Image du livre associé -->
  <div class="text-center" style="margin-top: -40px;">
    <%= cl_image_tag @bookclub.book.cover.key, class: "rounded-3 ", style:"height: 160px; aspect-ratio: 2 / 3; object-fit: cover; margin-bottom: 1rem; box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);", alt: @bookclub.book.title if @bookclub.book.cover.attached? %>
  </div>

  <!-- Détails du Bookclub -->
  <div class="mt-4">
    <p class="mb-1"><i class="fa-solid fa-circle-check " style="color: #751F1F"></i> Premium</p>
    <h3 class="" style="color: #751F1F;"><%= @bookclub.name %></h3>
    <div class="d-flex align-items-center">
      <p class="mb-0"><%= @bookclub.members.count %> member(s)</p>
      <%= link_to "#", class: "btn", style: "color: #751F1F;", data: { bs_toggle: "modal", bs_target: "#new_member_modal" } do %>
        <i class="fa-solid fa-user-plus"></i>
      <% end %>
    </div>
  </div>
</div>

<!-- Thread -->
<div class="container mt-4"style="padding-bottom: 80px;">
  <div>
    <%= render @discussions %>
  </div>

  <!-- Add Comment Form -->
  <div class="position-fixed w-100 start-50 translate-middle-x px-3" style="bottom: 0px; z-index: 999; background-color: #FAF5EF; padding: 16px 0;">
    <%= form_with model: [@bookclub, @discussion], local: true, class: "w-100 d-flex justify-content-center" do |f| %>
      <div class="d-flex align-items-center bg-white shadow-sm px-3 py-2" style="border-radius: 50px; width: 100%; max-width: 720px; border: 1px solid #FFEAD8;">
        <%= f.text_field :content, placeholder: "Discuss", class: "form-control border-0 bg-transparent", style: "font-size: 16px; color: #070740;" %>
        <div class="position-relative d-flex align-items-center justify-content-center">
          <%= f.submit "", class: "btn d-flex align-items-center justify-content-center", style: "width: 36px; height: 36px; border-radius: 50%; background-color: #751F1F;"%>
          <i class="fa-solid fa-arrow-up position-absolute text-white"></i>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "add_member_modal" %>
