<h4 class="mb-3" style="color: #751F1F;">Reviews of the community</h4>
<div class="mb-3 p-4" style="background-color: rgba(250, 245, 239, 0.9); border-radius: 8px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)">
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center gap-3 mb-3">
      <%= link_to user_path(review.user), class: "d-flex align-items-center text-decoration-none" do %>
        <img src="<%= review.user.avatar %>"
             alt="<%= review.user.username || review.user.email %>"
             class="rounded-circle"
             style="width: 40px; height: 40px; object-fit: cover; margin-right: 12px;">
        <div>
          <h5 class="mb-0 fw-bold" style="color: #751F1F;">
            <%= review.user&.username.present? ? review.user.username : review.user&.email %>
          </h5>
          <p class="text-muted mb-0" style="font-size: 12px; font-family: Poppins;">
            <%= review.created_at.strftime("%d/%m/%Y") %>
          </p>
        </div>
      <% end %>
      <!-- FOLLOW -->
      <% if user_signed_in? && review.user && current_user != review.user %>
        <% if current_user.following?(review.user) %>
          <%= button_to follow_path(id: current_user.follows.find_by(following: review.user).id),
                        method: :delete,
                        class: "btn rounded-pill py-0 px-2 follow-button",
                        style: "color: #751F1F; border-color: #751F1F; font-size: 0.75rem;",
                        form: { data: { turbo: true } } do %>
            Unfollow
          <% end %>
        <% else %>
          <%= button_to follows_path(following_id: review.user.id),
                        method: :post,
                        class: "btn rounded-pill py-0 px-2 follow-button",
                        style: "color: #751F1F; border-color: #751F1F; font-size: 0.75rem;",
                        form: { data: { turbo: true } } do %>
            Follow
          <% end %>
        <% end %>
      <% end %>
      <!-- FOLLOW -->
    </div>
  </div>
  <p class="pb-2"" style="border-bottom: 1px solid #D5D5D5; font-family: Poppins;"><%= review.content %></p>
  <div class="d-flex align-items-center justify-content-between mt-3">
    <div class="d-flex align-items-center gap-3">
      <div class="d-flex align-items-center gap-3">
        <% if user_signed_in? %>
          <%= render partial: "likes/like_button", locals:  { review: review } %>
        <% end %>
        <%= link_to review_comments_path(review), class: "d-flex align-items-center gap-1", style: "background-color: transparent;  border: none; text-decoration: none;" do %>
          <i class="fa-regular fa-comment" style="color: #751F1F;"></i>
          <p class="mb-0" style="font-family: Poppins;"><%= review.comments.count %></p>
        <% end %>
      </div>
    </div>
    <div class="d-flex align-items-center gap-2">
      <i class="fa-solid fa-star" style="color: #751F1F;"></i>
      <p class="mb-0" style="font-family: Poppins;"><%= review.rating %></p>
    </div>
  </div>
</div>
