<!DOCTYPE html>
<html>
  <head>
    <title>Marginalia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  </head>

  <body>
  <nav>
    <div class="navbar">
      <% if user_signed_in? %>
      <%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete
      )%>
        <%# <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path, class: "btn btn-primary" %>
        <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
